.custom-card-container {
  background-color: #2a2e43;
  border-radius: 10px;
  min-width: 800px;
  width: fit-content;
  min-height: 500px;
  height: fit-content;
  position: relative;
  padding: 10px;
}

.close-button {
  position: absolute;
  top: -15px;
  right: -8px;
  background-color: #26293b;
  color: #ff0349;
  border-radius: 100px;
  padding: 2px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
