body{
    background-color: #1C1E26;
}


.main
{
    height: max-content;
     display: flex;flex-shrink: 3;
    
}
.sidebar
{
flex: 2;
/* padding: 0px 10px; */
 display: flex;flex-shrink: 3;
flex-direction: column;
}
.homecontent
{
    position: relative;
    left: 400px;
    flex: 7;
    top: 35px;
    padding: 30px;
     display: flex;flex-shrink: 3;
    flex-direction: column;
    justify-content: space-between;
    
}